<div class="container">
  <%= link_to "< Back", question_path(@question), class: "muted mt-2 mb-5" %>
  <h3>Edit Question: <%= @question.title %> </h3>
  <div class="container p-0">
    <%= render "form", question: @question %>
  </div>
</div>

