<div class="container-fluid">
  <div class="row">

    <div class="col-2">
      <%= render 'shared/sidenav' %>
    </div>

    <div class="col-8 pt-5 ml-3">
      <div class="d-flex justify-content-center flex-column">
        <%= link_to "< Back", :back, class: "muted" %>
        <h1 class="main-heading mb-3">Ask a Question</h1>
         <div class="container-fluid">
            <div class='question-links d-flex'>
            </div>
          <div class="row justify-content-center">
            <%= render "form", question: @question %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

