// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Color codes:
$darkblue: #03045e;
$darkerblue: #000022;
$lightblue: #32ade6;
$lighterblue: #69cbe9;
$lightgray: #C4C4C4;
$darkgray: #969696;
$redcolor: #FD5F72;
$greencolor: #5BD28C;
