<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 flex-column">
        <%= image_tag "codebud-logo-1-light.png", class: "footer-logo" %>
        <div class="ml-2">
          <%= image_tag "linkedin.svg", class: "icon" %>
          &nbsp;&nbsp;<a href="https://www.linkedin.com/company/codebud/">Codebud</a>
        </div>
        <br>
        <div class="ml-2">
          <%= image_tag "email.svg", class: "icon" %>
          &nbsp;&nbsp;<a href="mailto: contact.codebud@gmail.com">contact.codebud@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>