<form class="form-question">
  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'one.svg' %>
        What do you need help with?
      </p>
    </div>
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="body">Body</label>
    <textarea name="body"></textarea>
  </section>

  <section>
    <div class="form-heading">
      <p class="subheading">
        <%= image_tag 'two.svg' %>
        Subjects
      </p>
    </div>

  </section>

</form>
