<ul class="sidenav pt-5">
  <li><%= link_to "Dashboard", questions_path, active?(request.env['PATH_INFO'], questions_path) %></li>
  <li><%= link_to "Sessions", history_path(current_user), active?(request.env['PATH_INFO'], history_path(current_user)) %></li>
  <li><%= link_to "Account Details", account_path, active?(request.env['PATH_INFO'], account_path) %></li>
</ul>
