<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><title>ic_menu_48px</title>
    <g fill="#000000">
        <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
    </g>
</svg>