

<div class="container">
  <%= link_to "< Back", :back, class: "muted mt-5" %>
  <p class='main-heading pt-2'>Help and Support</h6>

  <div class='row mt-5'>
    <div class='card-template mb-4 card-white'>
      <div class="info">
        <h3>How much does a question cost?</h3>
        <h6>This depends on the difficulty of the question. As a general guide, the price ranges between $5 to $30 per question.</h6>
      </div>
    </div>
    <div class='card-template mb-4 card-white'>
      <div class="info">
        <h3>How can I start the live session?</h3>
        <h6>After choosing your tutor, he/she will share the link to a Zoom call in the chat and you can begin asking your questions.</h6>
    </div></div>
    <div class='card-template mb-4 card-white'>
      <div class="info"><h3>How do I know if my tutor can help me?</h3>
        <h6>You should discuss the details of the question with your tutor using our chat feature before starting the live session to better ascertain if he/she can help you.</h6>
      </div>
    </div>
    <div class='card-template mb-4 card-white'>
      <div class="info"><h3>How to write a good question</h3>
        <h6>1. Be specific</h6><br>
        <h6>2. Share what you have done</h6><br>
        <h6>3. Take a picture of your question and attempted solutions.</h6><br>
      </div>
    </div>
    <div class='card-template mb-4 card-white'>
      <div class="info"><h3>How fast will I be connected to a tutor?</h3>
        <h6>We aim to connect you with a tutor within 30 minutes. However, this is dependent on the difficulty of the question and it might take longer for tutors to respond to more complex questions.</h6>
      </div>
    </div>
    <div class='card-template mb-4 card-white'>
      <div class="info"><h3>What if I am not satisfied with the answers?</h3>
        <h6>Kindly request further clarifications from your tutor should you receive an unsatisfactory answer.</h6>
      </div>
    </div>
    <div class='card-template mb-4 card-white'>
      <div class="info"><h3>How can I pay?</h3>
        <h6>We currently offer Gpay and credit card for payment options. Kindly follow the steps stated at the payment page for a fast and secured transaction.</h6>
      </div>
    </div>
  </div>
</div>