.hero-bg {
  background-image: url('landing-bg.png');
  background-size: cover;
  height: 100vh;
}

.hero svg {
  width: 100%;
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: darkslateblue;
    font-weight: 700;
    font-size: 3rem;
    span {
      color: $darkblue;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    align-self: flex-start;
    width: 175px;
    font-size: 1.5rem;
  }
}

.media {
  text-align: center;
  .media-icons img {
    height: 70px;
    opacity: 0.7;
  }

  .media-icons img:last-child {
    height: 50px;
  }
}

.mt-10 {
  margin: 6rem 0;
}

.section-blue {
  background-color: $darkerblue;
  color: white;

  .content {
    h2 {
      font-weight: 700;
      font-size: 3rem;
    }
    p {
      color: $lighterblue;
      line-height: 30px;
      font-size: 1.2rem;
    }
  }
}

.section-gray {
  background-color: #ECECEC;

  h2 {
    color: $darkerblue;
    font-size: 3rem;
    font-weight: 700;
  }
}
